html * {
    box-sizing: border-box;
}

body {
    font-family: "メイリオ";
    color: black;
    background-color: #F0F8FF;
    margin: 0;
    padding: 0;
}

main {
    margin: 60px 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.header {
    background-color: #3f5170;
    padding: 3px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.headnav {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-right: 20px;
}

.headnav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.headnav a:link,
.headnav a:visited,
.headnav a:hover,
.headnav a:active {
    color: white;
    text-decoration: none;
}

.footer {
    text-align: center;
    background-color: #3f5170;
    padding: 3px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* フッターを他の要素の上に配置 */
}

.footnav {
    text-align: center;
}

.footnav li {
    display: inline;
    list-style-type: none;
    margin: 0 20px;
}

.footnav a:link,
.footnav a:visited,
.footnav a:hover,
.footnav a:active {
    color: white;
    text-decoration: none;
}

/*map.blade.phpのスタイリング*/
#map {
    height: 475px;
}

/*localist.blade.php、niced.blade.php、locapop.blade.php、postlist.blade.phpのスタイリング*/

.search {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

input[type="search"] {
    flex-grow: 1;
    padding: 5px;
}

button[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.location a:link {
    color: black;
    text-decoration: none;
}

.location a:visited {
    color: black;
    text-decoration: none;
}

.location a:hover {
    color: black;
    text-decoration: none;
}

.location a:active {
    color: black;
    text-decoration: none;
}

.date {
    display: flex;
}

.date h4 {
    margin: 5px 20px 5px 0;
}

.date p {
    margin: 5px 20px 5px 0;
}

.celebrity {
    display: flex;
}

.celebrity h4 {
    margin: 5px 20px 5px 0;
}

.celebrity p {
    margin: 5px 20px 5px 0;
}

.paginate {
    text-align: center;
}

.paginate li {
    display: inline-block;
    margin: 0 20px;
}

.paginate a:link {
    text-decoration: none;
    color: #fff;
}

.paginate a:visited {
    color: black;
}

.paginate a:hover {
    background-color: #333;
    color: #fff;
}

.paginate a:active {
    background-color: #333;
    color: #fff;
}

.locamove a:link {
    color: black;
    text-decoration: none;
}

.locamove a:visited {
    color: black;
    text-decoration: none;
}

.locamove a:hover {
    color: black;
    text-decoration: none;
}

.locamove a:active {
    color: black;
    text-decoration: none;
}

.map a:link {
    color: black;
    text-decoration: none;
}

.map a:visited {
    color: black;
    text-decoration: none;
}

.map a:hover {
    color: black;
    text-decoration: none;
}

.map a:active {
    color: black;
    text-decoration: none;
}

.mapspot {
    display: flex;
}

.mapspot h4 {
    margin: 5px 20px 5px 0;
}

.mapspot p {
    margin: 5px 20px 5px 0;
}



.nicecounts {
    display: flex;
}

.nicecounts h4 {
    margin: 5px 20px 5px 0;
}

.nicecounts p {
    margin: 5px 20px 5px 0;
}

.postlist {
    display: flex;
}

.post_celebrity {
    flex: 1;
}

.click {
    display: flex;
    align-items: center;
}

buttton[onclick="location.href='/posts/{{ $post->id }}/edit'"] {
    padding: 10px 10px;
    margin-right: 10px;
}

button[type="button"] {
    margin-left: 10px;
    margin-right: 10px;
}

/**postform.blade.phpとeditpost.blade.phpのスタイリング**/

select[name="post[location_id]"] {
    width: 30em;
}

textarea[name="post[content]"] {
    width: 30em;
    height: 6em;
}

.content__error {
    color: red;
}

input[type="submit"] {
    margin: 20px 0;
    width: 30em;
}

.postmove a:link {
    color: black;
    text-decoration: none;
}

.postmove a:visited {
    color: black;
    text-decoration: none;
}

.postmove a:hover {
    color: black;
    text-decoration: none;
}

.postmove a:active {
    color: black;
    text-decoration: none;
}

/**location.blade.phpとmap_spot_detail.blade.phpのスタイリング**/

.overview {
    line-height: 1.6;
}

.nice a:link {
    color: red;
    text-decoration: none;
}

.nice a:visited {
    color: red;
}

.nice a:hover {
    color: red;
}

.nice a:active {
    color: red;
}

/**スマートフォン向けCSS**/
@media (max-width: 767px) {
    .wrapper {
        max-width: 100%;
        margin: 0 8px;
    }

    .login {
        margin-left: 40px;
    }

    .footnav li {
        display: inline;
        list-style-type: none;
        margin-left: 60px;
        margin-right: 60px;
    }

    select[name="post[location_id]"] {
        width: 100%;
    }

    textarea[name="post[content]"] {
        width: 100%;
    }

    input[type="submit"] {
        margin: 20px 0;
        width: 100%;
    }
}